*{
    margin: 0;
    padding: 0;
    font-family: "Inter" sans-serif;
}

body {
    background: linear-gradient(90deg, #E0C3FC, #8EC5FC);
    margin: 0;
    padding: 0;
    font-family: "Inter" sans-serif;
}

#logo {
    margin-top: 25px;
    margin-left: 40px;
}

main {
    display: flex;
    justify-content: space-around;
}

.containers {
    display: flex;
    margin-left: 10px;
} 

.container_input {
    padding: 0px 30px 20px 0px;
}

.textArea1 {
    background: transparent;
    font-size: 32px;
    font-family: inter;
    color: #0A3871;
    width: 500px;
    height: 450px;
    line-height: 48px;
    border: 0px;
    border-radius: 20px;
    border-color: #FFFFFF;
    resize: none;
    outline: none;
}

#cajatexto::placeholder{
    color: #0A3871;
}

h6 { 
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    vertical-align: top;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7px;
    
}

.btn1 {
    background: #0A3871;       
    border-style: none;
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
}

.btn2 {
    background: #FFFFFF;  
    border: 2px solid #0A3871;
    color: #0A3871;
}

.btn1, .btn2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    padding: 24px;
    border-radius: 24px;
    width: 40%;
    transition: 1s all;
}

.btn1:hover {
    transform: scale(1.1);
    font-size: 18px;
}

.btn2:hover {
    transform: scale(1.1);
    font-size: 18px;
}

.container_ouput {
    display: flex;
    flex-direction: column;
}

.container_ouput-ouput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height:544px;
    border-radius: 20px;
    background:#FFFFFF;
    box-shadow: 5px 5px 15px #0A3871, -5px -5px 15px #0a3871;
}

#dissapear {
    display: flex;
    flex-direction: column;
}

#image_ouput {
    padding: 32px;
}

#image_ouput, h3, h5 {
    display: block;
    background: #FFFFFF;
}

h3 { 
    font-family: inter;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding: 5px;
    color: #0A3871;
}

h5 { 
    font-family: inter;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 5px;
    color: #495057;
}

.textArea2 {
    display: none;
    background: #FFFFFF;
    font-size: 32px;
    font-family: inter;
    color: #0A3871;
    width: 397px;
    height: 360px;
    line-height: 48px;
    border-radius: 20px;
    border-color: #FFFFFF;
    resize: none;
    outline: none;
    position: absolute;
    top: 13%;
}

.btncopy {
    position: absolute;
    bottom: 18%;
    right: 310px;
    background: #FFFFFF;
}

#btn_copybtn {
    display: none;
    background:#0A3871;
    color:#FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    padding: 24px;
    border-radius: 24px;
    border-style: none;
    position: relative;
    bottom: 15%;
    left: 25%;
    width: 50%;
    transition: 1s all;
}

#btn_copybtn:hover {
    transform: scale(1.1);
    font-size: 18px;
}

.footer-ftr{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.footer_copy{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}

.copyright { 
    color: #0A3871;
    font-family: inter;
    font-size: 13px;
    /*text-align: center;
    margin-top: 20px;*/
}

.copyright span {
    font-weight: 700;
}

.footer-socialMedia-item{
    width: 1.5em;
    margin-left: 5px;
}